{% extends 'salaries/base.html' %}
{% load humanize %}


{% block title %}Search results for {{ query|escape }} - {% endblock %}

{% block head %}
	<style>
		div.jumbotron { margin-top: 40px; }
	</style>
{% endblock %}

{% block content %}

	<div class="jumbotron">
	<div class="container">

		{% if query %}
			<h1>Search results for <span style="color: #ccc;"> {{ query|escape }}</span></h1>

			{% if results %}
			<p>{{ results.count|apnumber|title }} name{{ results|pluralize }} found</p>
		{% endif %}
		


		{% else %}
			<h1>Search</h1>
                        <p class="lead">Search the salaries of {{ emptotal|intcomma }} employees at {{ list_of_govs.count|apnumber }} public agencies.</p>
		{% endif %}

	</div>
	</div>

	<div class="container">


	{% if query %}
	{% if results %}

		<div class="col-md-7">

	      <table class="table table-striped">
		<thead>
			<tr><th>Name</th><th>Job title</th><th>Agency</th></tr>
		</thead>
		<tbody>
		{% for person in results %}
	       <tr>
        	        <td><a href="/salaries/{{ person.govslug }}/{{ person.deptslug }}/{{ person.nameslug }}">{{ person.rest|title }} {{ person.last|title }}</a></td>
        	        <td>{{ person.job|title }}</td>
			<td>{{ person.govt.name }}</td>
       		</tr>
	      {% endfor %}
		</tbody>
	      </table>

		</div>

		<div class="col-md-4 col-md-offset-1 well">
			<h3><i class="fa fa-search"></i> Search again</h3>
                        <form action="/salaries/search" method="GET">
                        <input type="search" class="form-control" name="q" value="{{ query|escape }}" placeholder="Search for name">
                        </form>

			<h3><i class="fa fa-folder-open-o"></i> Pick an agency</h3>
		        <select class="form-control" onchange="if (this.value) window.location.href='/salaries/' + this.value">

		                <option value='' disabled='disabled' selected='selected'>Select an agency</option>
		                {% for agency in list_of_govs %}
		                <option value="{{ agency.name|slugify }}">{{ agency.name }}</option>
		                {% endfor %}
		        </select>

		</div>



	{% else %}

		<div class="col-md-7">

		<h3>No records found for that search.</h3>
		<p>Didn't find the person you're searching for? Try again using only the person's last name.</p>
		<br>
			<h4><i class="fa fa-search"></i> Search again</h4>
                        <form action="/salaries/search" method="GET">
                        <input type="search" class="form-control" name="q" value="{{ query|escape }}" placeholder="Search for name">
                        </form>

		</div>
		<div class="col-md-4 col-md-offset-1 well">

                        <h3><i class="fa fa-folder-open-o"></i> Pick an agency</h3>
                        <select class="form-control" onchange="if (this.value) window.location.href='/salaries/' + this.value">

                                <option value='' disabled='disabled' selected='selected'>Select an agency</option>
                                {% for agency in list_of_govs %}
                                <option value="{{ agency.name|slugify }}">{{ agency.name }}</option>
                                {% endfor %}
                        </select>


		</div>

	{% endif %}

	{% else %}

		<div class="col-md-4">

			<div class="well">

			<h3><i class="fa fa-search"></i> Looking for a person? Search by name</h3>

		        <form action="/salaries/search" method="GET">
		        <input type="search" class="form-control" name="q" value="{{ query|escape }}" placeholder="Search for name">
		        </form>

			<h3><i class="fa fa-folder-open-o"></i> Search by agency</h3>
		        <select class="form-control" onchange="if (this.value) window.location.href='/salaries/' + this.value">

               		<option value='' disabled='disabled' selected='selected'>Select an agency</option>
        	        {% for agency in list_of_govs %}
        	        <option value="{{ agency.name|slugify }}">{{ agency.name }}</option>
        	        {% endfor %}
		        </select>
	
			</div>

		</div>

	        <div class="col-md-7 col-md-offset-1">
		        <h3>Agencies</h3>

		        <table class="table">
			        <thead>
        		        <tr><th>Name</th><th>Type</th><th>Employees</th><th>Max salary</th><th>Median salary</th></tr>
       				 </thead>
       				
				 <tbody>
			        {% for agency in list_of_govs %}
			        <tr>
			                <td><a href="/salaries/{{ agency.name|slugify }}"</a>{{ agency.name }}</a></td>
        			        <td>{{ agency.type|title }}</td>
       				         <td>{{ agency.salary__count }}</td>
     				           <td>${{ agency.ft_max|floatformat:0|intcomma }}</td>
     				           <td>${{ agency.ft_median|floatformat:0|intcomma }}</td>
   			     </tr>
   			     {% endfor %}
   			     </tbody>
   		     </table>
   	     </div>
	


	{% endif %}

	</div>

{% endblock %}
